  .detailsDiv {
   
}
 
/*.detailsInput {
    float: right;
    margin-right:1%;
}
 
.detailsLable {
    float:right;
    width:30%;
    margin-left:2%;
    font-size:medium;
}*/

/*h3 {
    float:right;
    
}*/
/*.detailsInvite {
    float:right;
    font-size:large;
}
input[type="email"] {
    width: 250px;
   
}
input[type="text"] {
    width: 200px;
   
}
input[type="submit"] {
  float: right;
    margin-right: 151%;
    margin-top:2%;
}*/
.section {
    width:80%;
    float: right;
    direction: rtl;
}
.detailsInput {
  width:35%;
}