  .detailsDiv {
   text-align:center;
}
 h2{
    text-align:center;
}

.section {
  /*  align-content:center;*/
    width:65%; 
}
.detailsInput {
  /*text-align:center;*/
  /*width:30px;*/
  
}
.detailsLabel{
    font-size:large;
    font-family:Arial;
    margin:10px;
    text-align:center;

}
footer{
    align-content:center;
}
